
/*This represents the whole page*/
html{
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*This selects any and all types of elements on the HTML page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*I just watched a youtube video and they told me to do this*/
a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }


/*This is what damber did*/
.content{
    margin: auto;
}




/*---------------------------------------------------------------------------------------------*/
/*NAVIGATION / MENU SECTION*/



/*This is the navigation bar as a whole header... the components are encapsulated in this*/
.navbar{
    background-color: #004f9b;
    width: 100%;
    padding: 20px 0;
    position: fixed;
    z-index: 1100;
}



/*This is all the components on the right navigation (including the logo)*/
.menu{
    text-align: right;
    margin-right:30px;
}
/*This represents the actual list components (excluding the logo)*/
.menu li{
    list-style: none;
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    margin-right:25px;
    margin-top:9px;

}
/*This represents the individual elements and what they look like on the nav bar*/
.menu li a{
    color: rgb(255, 255, 255);
    font-family: 'Proxima Nova', sans-serif;
} 
/*when you hover over the elements on the nav bar, the following happens*/
.menu li a:hover{
    color:#aaaaaa;
    font-weight:bold;
}



/*The SSG cookbook logo on the topleft*/
.ssgCBlogo{
    max-width:300px;
    max-height:60px;
    float:left;
    margin-left:40px;
    margin-top:-12px;

}



/*---------------------------------------------------------------------------------------------*/
/*HOMEPAGE SECTION*/



/*this overarches the whole homepage. essentially this image below encapsulates the page*/
.Home{
    background: url("images/homeBackground.png") no-repeat center;
    display: flex;
    background-attachment:fixed;
    height: 100vh;
    background-size:cover;

}

/*the content inside of the homepage*/
.homeContent{
    margin-top:200px;
}



/*also the content inside of the home page that is inside of the homeContent div*/
.homePageList{
    list-style: none;
    display:inline-block
}



/*this is all of the text on the left side of the homepage*/
.homeText{
    margin-left:290px;
    transform:translateX(4%)
}
/*this is the first row of text*/
.homepageText1{
    display:inline-block;
    color: black;
    font-size: 32px;
    font-family: 'Proxima Nova', sans-serif;
    margin-bottom:5px;
    width:fit-content;
    margin-top:110px;
}
/*this is the second row of text*/
.homepageText2{
    font-size:60px;
    margin-bottom:10px;
    font-weight:bold;
    font-family: 'Proxima Nova', sans-serif;
    width:fit-content;
}
/*this is the third row of text*/
.homepageText3{
    font-size:35px;
    margin-bottom:5px;
    font-family: 'Proxima Nova', sans-serif;
    margin-left:200px;
    text-decoration: none;
    color: black;
    width:fit-content;
}
/*when you hover over the third row of text, the following happens*/
.homepageText3:hover{
    color:#004f9b;
    text-decoration: none;
    font-weight:bold;
    cursor:pointer;
}



/*This is the image to the right side of the homepage*/
.homepageImage{
    display:inline-block;
    width:25%;
    transform:translate(170%,-60%);
}



/*---------------------------------------------------------------------------------------------*/
/*ABOUT SECTION*/



/*This is the whole about section*/
.About{
    display:flex;
}



/*Here is the header of the about section*/
.aboutTextHeader{
    text-align: center;
    margin-top:30px;
    font-size: 60px;;
    font-family: 'Proxima Nova', sans-serif;
    list-style: none;
    font-weight:600;
}



/*this is the unordered-list regarding the top half of the about section*/
.topHalfAbout{
    list-style: none;
    display:flex;
    margin-top:50px;
}



/*The following X-lines of code is the slideshow on the top half, to the leftside on the about section
/*Here is the slideshow block*/
.SlideshowAbout{
    display:inline-block;
    border: solid black 5px;
    width:410px;
    height:410px;
    transform:translateX(15%)
}
#slider{
    margin:auto;
    width:800px;
    height:450px;
}
#slider a{
    position: inline-block;
    text-align: center;
}
.slide a img{
    padding:10px;
    border: 1px solid #000000;
    background: #fff;
}
#slider a:nth-of-type(1){
    animation-name:fader;
    animation-delay:3s;
    animation-duration: 1s;
    z-index:20;
}
#slider a:nth-of-type(2){
    z-index:10;
}
#slider a:nth-of-type(n+2){
    display: none;
}
@keyframes fader{
    from{opacity:1.0;}
    to{opacity:0.0};
}



/*This is the text to the right side of the top half of the about section*/
.describingTextRightAbout{
    width:500px; 
    transform:translate(30%,10%);
    text-align:center;
}



/*this is the unordered-list regarding the bottom half of the about section*/
.bottomHalfAbout{
    list-style:none;
    display:flex;
    margin-top:50px;
}



/*Here is the bottom half, left side text on the about page*/
.describingTextLeftAbout{
    width:500px;
    margin-left:10px;
    margin-right:70px;
    text-align:center;
}



/*here is the image on the bottom half, right side on the about page*/
.placeholderImage{
    width:500px;
}
.placeholderborder{
    border: solid black 5px;
    height:300px;
    margin-bottom:300px;
}



/*---------------------------------------------------------------------------------------------*/
/*RECIPES SECTION*/



/*here is the header of the recipe page*/
.recipesHeader{
    text-align: center;
    font-size: 60px;;
    font-family: 'Proxima Nova', sans-serif;
    list-style: none;
    font-weight:600;
}

/*here is the describing text under the header of the recipe page*/
.recipesText1 {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Proxima Nova', sans-serif;
    display:inline-block;
    margin-top:40px;
    transform:translateX(150%)
}

/*The navigation for each box*/
.recipe__links{
    list-style: none;
}
.recipe__links li{
    display: inline-block;
    padding:15px;
}
.recipe__links li a{
    transition: all 0.3s ease 0s;
}
.recipe__links li a:hover{
    color: #b4b5b9;
}


/*How each and every box looks / with the overlay when you hover*/
/*All the boxes*/
.boxesALL{
    text-align: center;
}
/*Each individual box*/
.Box {
    position: relative;
    width: 350px;
}
.image__img{
    display: block;
    width: 100%;

}
/*The overlay text*/
.image__overlay{
    font-family: 'Proxima Nova', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background:  rgba(0,0,0,0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .30s;
}

/*The blur when you hover*/
.image__overlay--blur{
    backdrop-filter: blur(5px);
}

/*Whenever you hover you can see the text*/
.image__overlay:hover{
    opacity: 1;
}
/*The top title and the lower caption*/
.image__title{
    font-size: 1.6em;
    font-weight: bold;
}
.image__description{
    margin-top:.25em;
    text-align: center;
}



/*---------------------------------------------------------------------------------------------*/
/*BUY SECTION*/

.Buy{

    font-family: 'Proxima Nova', sans-serif;

}

.Buy .content{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    text-align: center;
    position: relative;
    margin-top: 3%;
    margin-bottom: 5%;
}

.Buy .title{
    text-align: center;
    margin-top:30px;
    font-size: 60px;;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
    margin-bottom: 10%;
}


.buyContent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.buyContent .contentLeft{
    margin-left: 80px;
}

.buyContent .contentRight{
    margin-right: 80px;
}

.buyContent .contentLeft img{
    width: 350;
    height: 350;
}


.buyContent .contentRight img{
    width: 350;
    height: 350;
}

.buyContent #contentLR p{
    font-size: 18px;
    font-weight: 600;
}

/*Contact Section starts here */ 

.contact{
    font-family: 'Proxima Nova', sans-serif;

}

.contact .content{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.contact .title{
    text-align: center;
    margin-top:20px;
    font-size: 60px;;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
    margin-bottom: 10%;
}

.contact .contactContent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contactContent #contentLR{
    width: calc(50% - 30px);
}

.contact .contentLeft{
    margin-bottom: 5%;
}

.contact .contactContent .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contactContent .contentLeft p{
    text-align: justify;
}

.contact .contactContent .contentLeft .icons{
    margin: 10px 0;
}

.contact .contactContent .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contactContent .row img{
    width: 220px;
    height: 55px;
    margin-top: 5%;
    margin-left: 8%;
    margin-bottom: 3%;
}

.contact .contactContent .row .info{
    margin-left: 30px;
}

.contact .contactContent .row i{
    font-size: 25px;
    color: #004f9b;
}


.contact .contentRight form .fields{
    display: flex;
}

.contact .contentRight form .field,
.contact .contentRight form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .contentRight form .textarea{
    height: 80px;
    width: 100%;
}

.contact .contentRight form .name{
    margin-right: 10px;
}

.contact .contentRight form .field input,
.contact .contentRight form .textarea textarea{
    height: 100%;
    width: 100%;
    font-family: 'Proxima Nova', sans-serif;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    transition: all 0.3s ease;
}



.contact .contentRight form .textarea textarea{
  padding-top: 10px;
  resize: none;
}

.contact .contentRight form .button-area{
  display: flex;
  align-items: center;
}

.contentRight form .button-area button{
  color: #fff;
  display: block;
  width: 140px;
  height: 45px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  flex-wrap: nowrap;
  background: #004f9b;
  border: 2px solid #004f9b;
  transition: all 0.3s ease;
}

.contentRight form .button-area button:hover{
  color: #004f9b;
  background: none;
}



